body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
li {
  list-style: none;
  padding: 5px 13px;
  color: rgb(240, 240, 238);
}
.fas, 
.fa-brands {
  color: rgb(47, 185, 212);
}
.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(6, 29, 46, 0.98);
}
#icon-logo {
  display: flex;
  padding-left: 20px;
}
#logo {
  padding-left: 0;
}
#menu {
  display: flex;
}
#menu> li:hover {
  border-radius: 5px;
  background: rgba(47, 185, 212, 0.5);
}
#icons-media {
  display: flex;
  padding-right: 20px;
}
#icon-hamburger-bars {
  color: rgb(47, 185, 212);
  display: none;
  padding: 5px;
}
@media screen and (max-width: 600px){
  .container {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  #menu {
    display: none;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    width: 100%;
  }
  #icons-media {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  #icon-hamburger-bars {
    display:block;
    position: absolute;
    top: 15px;
    right:20px;
    font-size: 1.2em;
  }
  #menu.showLists, 
  #icons-media.showLists {
    display: flex;
  }
}